[Desktop Entry]
Categories=Network;WebBrowser;
Comment[ru_RU]=
Comment=
Exec=/opt/arturium-browser/Arturium Browser
GenericName[ru_RU]=Web Browser
GenericName=Web Browser
Icon=arturium
MimeType=
Name[ru_RU]=Arturium Browser
Name=Arturium Browser
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
